{
  "extends": "airbnb",
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": [
          "client",
          "node_modules"
        ]
      }
    }
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "import/no-unresolved": [
      2,
      { caseSensitive: false }
     ],
    "comma-dangle": ["error", "never"],
    "semi": ["error", "always"],
    "react/jsx-filename-extension": 0,
    "react/prop-types": 0,
    "react/no-find-dom-node": 0,
    "jsx-a11y/label-has-for": 0,
    "jsx-a11y/href-no-hash": 0
  },
  "globals": {
    "document": true,
    "window": true
  },
  "env": {
    "jest": true
  }
}
