.asset-btn,
.add-btn {
	@include rounded(5px);
	@include clearfix;
	border: 1px solid #666;
	cursor: pointer;
	&:hover { border: 1px solid $offwhite; }
}

.add-btn {
	@include noselect;
	padding: 15px 10px;
	width: 173px;
	text-align: left;
	opacity: .7;
	&:hover { background: none; opacity: 1; }
}

.add-asset-row { margin-top: 10px; }

.icon-plus-outline { float: left; font-size: 1.2em; margin: -2px 10px 0 0; }
