.coin-modal-container {
	position: absolute;
	width: 100%;
	z-index: 10;
}

.coin-modal {
	@include rounded(6px);
	@include clearfix;
	position: relative;
	top: 140px;
	margin: 0 auto;
	padding: 20px;
	width: 280px;
	color: #fff;
	background: $gray;

	h1 { margin-bottom: 10px; }

	li {
		float: left;
		margin: 0 8px 8px 0;
	}

	.ico-close {
		position: absolute;
		left: 330px;
    top: 0;
	}
}

.ico-coin {
	@include rounded(4px);
	width: 32px;
	height: 32px;
	background: #fff;
}
